HF_TOKEN=<your_hugging_face_token_here>

PG_HOST=<your_supabase_host_here>
PG_PORT=<your_supabase_port_here>
PG_DB=<your_supabase_db_name_here>
PG_USER=<your_postgres_user_here>
PG_PASSWORD=<your_postgres_password_here>